.semaforo {
  background-color: black;
  width: 150px;
  height: 450px;
}

.light {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.lightOn {
  opacity: 0.95;
  box-shadow: 0px 0px 40px 20px rgb(242, 255, 0);
  border-radius: 50%;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
